<?xml version="1.0" ?>
<robot name="d26149f3d01ffb4d9ff9560d055ab12" version="1.0">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="d26149f3d01ffb4d9ff9560d055ab12___1">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/d26149f3d01ffb4d9ff9560d055ab12_m1_vm.obj"/>
      </geometry>
    </visual>
    <visual name="d26149f3d01ffb4d9ff9560d055ab12___2">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/d26149f3d01ffb4d9ff9560d055ab12_m2_vm.obj"/>
      </geometry>
    </visual>
    <visual name="d26149f3d01ffb4d9ff9560d055ab12___3">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/d26149f3d01ffb4d9ff9560d055ab12_m3_vm.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/collision/d26149f3d01ffb4d9ff9560d055ab12_cm.obj"/>
      </geometry>
    </collision>
  </link>
</robot>