<?xml version="1.0" ?>
<robot name="f90c23de385d10f62f5fb84eadb6c469" version="1.0">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="f90c23de385d10f62f5fb84eadb6c469___3">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/f90c23de385d10f62f5fb84eadb6c469_m3_vm.obj"/>
      </geometry>
    </visual>
    <visual name="f90c23de385d10f62f5fb84eadb6c469___2">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/f90c23de385d10f62f5fb84eadb6c469_m2_vm.obj"/>
      </geometry>
    </visual>
    <visual name="f90c23de385d10f62f5fb84eadb6c469___1">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/f90c23de385d10f62f5fb84eadb6c469_m1_vm.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/collision/f90c23de385d10f62f5fb84eadb6c469_cm.obj"/>
      </geometry>
    </collision>
  </link>
</robot>