<?xml version="1.0" ?>
<robot name="783af15c06117bb29dd45a4e759f1d9c" version="1.0">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="783af15c06117bb29dd45a4e759f1d9c___2">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/783af15c06117bb29dd45a4e759f1d9c_m2_vm.obj"/>
      </geometry>
    </visual>
    <visual name="783af15c06117bb29dd45a4e759f1d9c___1">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/783af15c06117bb29dd45a4e759f1d9c_m1_vm.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/collision/783af15c06117bb29dd45a4e759f1d9c_cm.obj"/>
      </geometry>
    </collision>
  </link>
</robot>